@import "variables";

@import "~bulma";

@import "forms";

// Components
@import "components/pages/Settings/ModifyRole";

.is-dark {

  .checkbox {
    color: $white;

    &:hover {
      color: $grey-light;
    }
  }

  .label, .is-link {
    color: $white;
  }
}

h2.subtitle {
  font-size: 1.25em;
  margin-top: -1.25rem;
}

.tag {
  margin: 0 0.5em 0.5em 0;
}