@import "variables";

@import "~bulma";

@import "forms";

.is-dark {

  .checkbox {
    color: $white;

    &:hover {
      color: $grey-light;
    }
  }

  .label, .is-link {
    color: $white;
  }
}