@import "variables";

@import "~bulma";

@import "forms";

.is-dark {

  .checkbox {
    color: $white;

    &:hover {
      color: $grey-light;
    }
  }

  .label, .is-link {
    color: $white;
  }
}

.content {
  h2.subtitle {
    font-size: 1.25em;
    margin-top: -1.25rem;
  }
}